<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<main class="main-main">
    <form action="/products/edit/<%= article.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <!-- name -->
        <!-- text -->
        <div class="input-box">
            <label class="input-label" for="name">
                Nombre del producto
            </label>
            <input class="input-text" type="text" name="name" id="name" value="<%= article.name %>">
        </div>
        <!-- price -->
        <!-- number -->
        <div class="input-box">
            <label class="input-label" for="price">
                Precio
            </label>
            <input class="input-text" type="number" name="price" id="price" value="<%= article.price %>">
        </div>
        <!-- discount -->
        <!-- number -->
        <div class="input-box">
            <label class="input-label" for="discount">
                Descuento (%)
            </label>
            <input class="input-text" type="number" name="discount" id="discount" value="<%= article.discount %>" min="1" max="99">
        </div>
        <!-- category -->
        <!-- radio -->
        <div class="radio-box">
            <label class="input-label">
                Categoría:
            </label>
            <div class="user-profile-radio">
                <input class="input-radio" type="radio" name="category" id="visited" value="visited" 
                <%= article.category === 'visited' ? 'checked' : '' %>
                >
                <label class="option-label" for="visited">
                    Vistos recientemente
                </label>
            </div>
            <div class="user-profile-radio">
                <input class="input-radio" type="radio" name="category" id="in-sale" value="in-sale" 
                <%= article.category === 'in-sale' ? 'checked' : '' %>
                >
                <label class="option-label" for="in-sale">
                    En oferta
                </label>
            </div>
        </div>
        <!-- description -->
        <!-- textarea -->
        <div class="input-box">
            <label class="input-label" for="description">
                Descripción del producto
            </label>
            <textarea class="input-text text-area-description" name="description" id="description" rows="5"><%= article.description %></textarea>
        </div>
        <!-- image -->
        <!-- file -->
        <div class="file-box">
            <label class="input-label file-label" for="image">
                Foto del producto
                <input class="input-file" type="file" name="image" id="image" value="<%= article.image %>" accept=".jpg, .png, .jpeg">
            </label>
        </div>
        <!-- buttons -->
        <div class="button-box">
            <button class="form-button send" type="submit">
                Enviar
            </button>
            <button class="form-button clear" type="reset">
                Borrar
            </button>
        </div>
    </form>
</main>
<%- include ('../partials/footer') %>