<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<main class="main-main">
    <header class="main-title">
        <h2>Detalle de producto</h2>
    </header>

    <!-- CREATE SINGLE PRODUCT -->
    <section>
        <!--  -->
    </section>
    <!--  -->

    <article class="product-product">
        <div class="product-picture">
            <img src="/img/products/<%= article.image %>">
        </div>
        <article class="product-article">
            <div class="delivery-truck">
                <i class="fas fa-truck"></i>
            </div>
            <div class="price">
                <div class="full-price">
                    <h3>
                        $<%= article.price %>
                    </h3>
                </div>
                <div class="discount">
                <% if (article.discount !== 0) { %>
                <h4>
                    <%= article.discount %>% OFF
                </h4>
                <% } %>
            </div>
            <footer class="product-name">
                <h4>
                    <%= article.name %>
                </h4>
            </footer>
        </article>
    </article>
    <form action="/products/<%= article.id %>?_method=DELETE" method="POST">
        <a href="/products/edit/<%= article.id %>">
            <button class="form-button send" type="button">
                Editar
            </button>
        </a>
        <button class="form-button clear" type="submit">
            Eliminar
        </button>
    </form>
</main>
<%- include ('../partials/footer') %>