<%- include ('./partials/head') %>
<%- include ('./partials/header') %>

<main class="main-main">

    <header class="main-title">
        <h2>Basado en tu última visita</h2>
    </header>
    
    <section class="product-category">
        <% for (i = 0 ; i < visited.length ; i++) { %>
            <%- include ('./products/partials/product', { article:visited }) %>
        <% } %>
    </section>
            
    <header class="main-title">
        <h2>Ofertas</h2>
    </header>
    
    <section class="product-category">
        <% for (i = 0 ; i < inSale.length ; i++) { %>
            <%- include ('./products/partials/product', { article:inSale }) %>
        <% } %>
    </section>

</main>

<%- include ('./partials/footer') %>